@font-face {
  font-family: "pokemon";
  src: url('../fonts/PokemonGB.ttf');
}

@font-face {
  font-family: "logo";
  src: url('../fonts/PokemonLogo.ttf');
}

#navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {
  color: white;
  margin: 0;
  line-height: 2.25;
  font-size: 1.5vw;
  width: 24.75%;
  border-right: 0.25vw solid rgba(255, 255, 255, 0.25);
  display: inline-block;
  text-align: center;
}

#title {
  width: 15.75%;
  font-family: logo;
  letter-spacing: .1vw;
  cursor: pointer;
  text-shadow: -.2vw 0 darkblue, 0 .2vw darkblue, .2vw 0 darkblue, 0 -.2vw darkblue;
  color: yellow;
}

#bankroll {
  width: 33.75%;
}

#kda {
  border-right: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #8bcd73;
  font-family: 'pokemon';
}

#PlayerStats {
  position: absolute;
  bottom: 0;
  right: 7.5vw;
  margin-bottom: 30vh;
  display: inline-block;
  border-right: 1vh solid black;
  border-bottom: 1vh solid black;
  width: 30vw;
  height: 10vh;
}

#DealerStats {
  position: absolute;
  top: 14vh;
  margin: 2vh 6.25vw;
  display: inline-block;
  border-bottom: 1vh solid black;
  border-left: 1vh solid black;
  width: 30vw;
  height: 10vh;
}

#PlayerName { /* will prob move this all into js */
  position: absolute;
  bottom: 37vh;
  /*left: 62vw;*/
  right: 6.5vw;
  text-align: right;
  }

#DealerName {
  position: absolute;
  top: 7vh;
  left: 6.25vw;
}

.name {
  font-size: 32px;
  letter-spacing: 8px;
}

.spade {
  font-size: 32px;
  list-style-type: none;
  margin-left: 20px;
  color: blue;
  margin-top: 5px;
}

.colon {
  position: relative;
  font-size: 20px;
  bottom: 3px;
}

.hpBar {
  position: relative;
  left: 7vw;
  bottom: 3.775vh;
  width: 18.5vw;
  height: 0.5vh;
  border: 0.6vw solid black;
  display: inline-block;
}

.pointTotals {
  position: relative;
  left: 7vw;
  bottom: 2.5vh;
  width: 19.6vw;
}

.handValue {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

#bottom {
  position: absolute;
  background-color: gray;
  height: 21vh;
  left: 10px;
  right: 10px;
  bottom: 6px;
  border: 10px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}

#betList {
  position: absolute;
  font-size: 32px;
  list-style-type: none;
  margin: 0;
  width: 43%;
  text-align: center;
}

.betText {
  margin-top: 30px;
  margin-bottom: 5px;
}

.betCursor {
  display: inline-block;
  margin-right: -10px;
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0);
}

.selectBet {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#prompt {
  position: absolute;
  font-size: 40px;
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  display: none;
  top: 24px;
  left: 24px;
}

#menu {
  float: right;
  width: 50%;
  height: 21vh;
  border-left: 10px solid black;
}

#result {
  font-size: 5vh;
  line-height: 1.5;
  width: 50%;
  margin-left: 3%;
  margin-top: 3%;
  text-align: left;
  height: 21vh;
  position: absolute;
  display: none;
  cursor: pointer;
}

#nextCursor {
  font-size: 5vh;
  position: absolute;
  right: 0;
  bottom: -1.25vh;
  display: none;
  cursor: pointer;
  transform: rotate(180deg);
}

#deal {
   font-size: 60px;
   width: 43%;
   margin: .75%;
   height: 19vh;
   padding: 0 2.5vw;
   position: absolute;
   text-align: center;
   line-height: 150px;
   display: block;
   cursor: pointer;
}

#actions {
  position: absolute;
  top: 2vh;
  display: none;
  cursor: pointer;
}

.action {
  position: relative;
  top: 5px;
  font-size: 30px;
  width: 12vw;
  height: 8vh;
  padding: 0 24px;
  margin: 5px;
}

#stand, #surrender {
  right: 25px;
}

.cursor {
  position: relative;
  font-size: 40px;
  bottom: 10px;
  width: 40px;
  left: 12px;
  transform: rotate(90deg);
  text-align: right;
  color: rgba(0, 0, 0, 0);
  border: 1px dashed rgba(0, 0, 0, 0); /*this fixes an issue with truncation in double down, but i don't know why*/
}
.col2 {
  left: -12px;
}

#lineSpace {
  height: 1vh;
}

#cardHolder {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -5vh;
  margin-top: -8.4vh;
}

#deck {
  width: 10vh;
  height: 16.8vh;
}

.card {
  z-index: 1;
  cursor: zoom-in;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 10vh;
  height: 16.8vh;
  margin-left: -5vh;
  margin-top: -8.4vh;
}

.cardName {
  font-size: 1.25vw;
  text-align: center;
  position: absolute;
  width: 22vh;
  z-index: 1;
  visibility: hidden;
  text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

.cardValue {
  font-size: 1.25vw;
  text-align: center;
  position: absolute;
  margin-top: 0;
  width: 22vh;
  z-index: 1;
  visibility: hidden;
  text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

@media screen and (min-width: 1260px) {
  .cardName, .cardValue {
    font-size: 1vw;
  }
}
