@font-face {
  font-family: "pokemon";
  src: url('../fonts/PokemonGB.ttf');
}

@font-face {
  font-family: "logo";
  src: url('../fonts/PokemonLogo.ttf');
}

.disableOverlay { /* to pause events */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: transparent;
  display: none;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {
  color: white;
  margin: 0;
  line-height: 2.25;
  font-size: 1.5vw;
  width: 24.75%;
  border-right: 0.25vw solid rgba(255, 255, 255, 0.25);
  display: inline-block;
  text-align: center;
}

#title {
  width: 15.75%;
  font-family: logo;
  letter-spacing: .1vw;
  cursor: pointer;
  text-shadow: -.2vw 0 darkblue, 0 .2vw darkblue, .2vw 0 darkblue, 0 -.2vw darkblue;
  color: yellow;
}

#bankroll {
  width: 33.75%;
}

#bankrollForm {
  display: inline-block;
}

.bankrollInput {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'pokemon';
  color: white;
  line-height: 2.25;
  width: 6.25vw;
  font-size: 1.5vw;
  text-align: center;
  border: 0;
  position: relative;
}

#kda {
  border-right: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #8bcd73;
  font-family: 'pokemon';
}

#PlayerStats {
  position: absolute;
  bottom: 0;
  right: 7.5vw;
  margin-bottom: 30vh;
  display: inline-block;
  border-right: 1vh solid black;
  border-bottom: 1vh solid black;
  width: 30vw;
  height: 10vh;
}

#DealerStats {
  position: absolute;
  top: 14vh;
  margin: 2vh 6.25vw;
  display: inline-block;
  border-bottom: 1vh solid black;
  border-left: 1vh solid black;
  width: 30vw;
  height: 10vh;
}

#nameForm {
  display: inline-block;
}

#PlayerName {
  position: absolute;
  font-family: 'pokemon';
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 30vw;
  bottom: 39vh;
  right: 6.75vw;
  text-align: right;
  line-height: 2;
  cursor: text;
}

#DealerName {
  position: absolute;
  top: 7vh;
  left: 6.25vw;
}

.name {
  font-size: 32px;
  letter-spacing: 8px;
}

.spade {
  font-size: 32px;
  list-style-type: none;
  margin-left: 20px;
  color: blue;
  margin-top: 5px;
}

.colon {
  position: relative;
  font-size: 20px;
  bottom: 3px;
}

.hpBar {
  position: relative;
  left: 7vw;
  bottom: 3.775vh;
  width: 18.5vw;
  height: 0.5vh;
  border: 0.6vw solid black;
  display: inline-block;
}

.pointTotals {
  position: relative;
  left: 7vw;
  bottom: 2.5vh;
  width: 19.6vw;
}

.handValue {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

#bottom {
  position: absolute;
  background-color: gray;
  height: 21vh;
  left: 10px;
  right: 10px;
  bottom: 6px;
  border: 10px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}

#betList {
  position: absolute;
  font-size: 32px;
  list-style-type: none;
  margin: 0;
  width: 43%;
  text-align: center;
  left: -10px;
}

.betText {
  margin-top: 30px;
  margin-bottom: 5px;
}

.betCursor {
  display: inline-block;
  margin-right: -10px;
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0);
}

.selectBet {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#prompt {
  position: absolute;
  font-size: 40px;
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  display: none;
  top: 24px;
  left: 24px;
}

#menu {
  float: right;
  width: 50%;
  height: 21vh;
  border-left: 10px solid black;
}

#result {
  font-size: 2vw;
  line-height: 1.5;
  width: 50%;
  margin-left: 3%;
  margin-top: 3%;
  text-align: left;
  height: 21vh;
  position: absolute;
  display: none;
  cursor: pointer;
}

#nextCursor {
  font-size: 5vh;
  position: absolute;
  right: 0;
  bottom: -1.25vh;
  display: none;
  cursor: pointer;
  transform: rotate(180deg);
}

#deal {
   font-size: 60px;
   width: 43%;
   margin: .75%;
   height: 19vh;
   padding: 0 2.5vw;
   position: absolute;
   text-align: center;
   line-height: 150px;
   display: block;
   cursor: pointer;
}

#actions {
  position: absolute;
  top: 2vh;
  display: none;
  cursor: pointer;
}

.action {
  position: relative;
  top: 5px;
  font-size: 30px;
  width: 12vw;
  height: 8vh;
  padding: 0 24px;
  margin: 5px;
}

#stand, #surrender {
  right: 25px;
}

.cursor {
  position: relative;
  font-size: 40px;
  bottom: 10px;
  width: 40px;
  left: 12px;
  transform: rotate(90deg);
  text-align: right;
  color: rgba(0, 0, 0, 0);
  border: 1px dashed rgba(0, 0, 0, 0); /*this fixes an issue with truncation in double down, but i don't know why*/
}
.col2 {
  left: -12px;
}

#lineSpace {
  height: 1vh;
}

#cardHolder {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -5vh;
  margin-top: -8.4vh;
}

#deck {
  width: 10vh;
  height: 16.8vh;
}

.card {
  z-index: 1;
  cursor: zoom-in;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 10vh;
  height: 16.8vh;
  margin-left: -5vh;
  margin-top: -8.4vh;
}

/*.flipper {
  z-index: 1;
  cursor: zoom-in;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 10vh;
  height: 16.8vh;
  margin-left: -5vh;
  margin-top: -8.4vh;
}
*/
.hole, .holeBack {
  top: 0;
  margin: 0;
  position: static;
  display: block;
}
/*
.front, .back {
  position: absolute;
}

.front {
  z-index: 2;
}

.back {
  z-index: 1;
}*/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
  position: absolute;
  cursor: zoom-in;
  top: 40%;
  left: 50%;
  width: 10vh;
  height: 16.8vh;
  margin-left: -5vh;
  margin-top: -8.4vh;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	/*top: 0;
	left: 0;*/
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.cardName {
  font-size: 1.25vw;
  text-align: center;
  position: absolute;
  width: 22vh;
  z-index: 1;
  visibility: hidden;
  text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

.cardValue {
  font-size: 1.25vw;
  text-align: center;
  position: absolute;
  margin-top: 0;
  width: 22vh;
  z-index: 1;
  visibility: hidden;
  text-shadow: -1.25px 0 white, 0 1.25px white, 1.25px 0 white, 0 -1.25px white;
}

/*Max width*/
@media screen and (min-width: 1250px) {
  .cardName, .cardValue {
    font-size: 1vw;
  }
  .action {
    padding: 0 50px;
  }
  #prompt {
    left: 100px;
  }
}

/*Smaller laptop screen*/
@media screen and (max-width: 1250px) and (min-width: 992px) {
  /*body {
    background-color: purple;
  }*/
  #bottom, #menu, #result {
    height: 19vh;
  }
  #prompt {
    left: 40px;
    font-size: 32px;
  }
  #result {
    font-size: 29px;
  }
  #PlayerName {
    bottom: 40vh;
  }
  .selectBet, .betText {
    margin: 10px 5px;
    padding: 10px 5px;
    font-size: 28px;
  }
  .betCursor {
    margin-right: -5px;
  }
}

@media screen and (max-width: 992px) and (min-width: 720px) {
  /*body {
    background-color: blue;
  }*/
  #bottom, #menu, #result {
    height: 17vh;
  }
  #prompt {
    font-size: 30px;
  }
  #deal {
    line-height: 130px;
  }
  #result {
    font-size: 26px;
  }
  .selectBet, .betText {
    margin: 8px 3px;
    padding: 8px 3px;
    font-size: 20px;
  }
  .betText {
    margin-top: 15px;
  }

  .betCursor {
    font-size: 24px;
    margin-right: -5px;
  }

  .action {
    font-size: 26px;
    padding: 0 20px;
    top: -10px;
  }
  .cursor {
    bottom: 20px;
  }
  .spade {
    margin-left: 12px;
  }
  #PlayerName {
    bottom: 39.5vh;
  }
  .name {
    font-size: 28px;
  }
  .handValue {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) and (min-width: 580px) {
  /*body {
    background-color: orange;
  }*/
  #bottom, #menu, #result {
    height: 15vh;
  }
  #prompt {
    font-size: 20px;
  }
  #deal {
    font-size: 52px;
    line-height: 120px;
  }
  #result {
    font-size: 20px;
  }
  #betList {
    left: -25px;
  }
  .selectBet, .betText {
    margin: 8px 3px;
    padding: 8px 3px;
    font-size: 16px;
  }
  .betText {
    margin-top: 15px;
  }

  .betCursor {
    font-size: 20px;
    margin-right: -5px;
  }

  .action {
    font-size: 16px;
    padding: 0 10px;
    margin: 0;
    top: -10px;
  }
  .cursor {
    bottom: 24px;
    font-size: 16px;
  }
  .spade {
    margin-left: 3px;
  }
  #PlayerName {
    bottom: 40vh;
  }
  #DealerName {
    top: 9vh;
  }
  .name {
    font-size: 24px;
  }
  .handValue {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
/* (min-width: 320px) {*/
  /*body {
    background-color: orange;
  }*/
  /*#navbar {
    height: 3vh;
  } */
  /*IN JQUERY, REMOVE 'Bankroll: ' and KDA spaces from Nav!*/
  /*.nav {
    font-size: 1.5vh;
  }*/
  #bottom, #menu, #result {
    height: 12vh;
    bottom: 3px;
  }
  #prompt {
    font-size: 12px;
    left: 5px;
  }
  #deal {
    font-size: 24px;
    line-height: 90px;
  }
  #result {
    font-size: 14px;
    margin-bottom: -30px;
  }
  #betList {
    left: -60px;
  }
  .lineBreaker {
    display: block;
  }

  .betText {
    left: 64%;
    top: -10px;
    position: absolute;
    font-size: 14px;
    margin-top: 20px;
  }

  .selectBet {
    position: absolute;
    font-size: 14px;
  }

  .bet1 {
    left: 30%;
    bottom: -70px;
  }

  .bet5 {
    left: 70%;
    bottom: -70px;
  }

  .bet10 {
    left: 30%;
    bottom: -100px;
  }

  .bet25 {
    left: 70%;
    bottom: -100px;
  }

  .betCursor {
    /*font-size: 20px;
    margin-right: -5px;*/
    display: none;
  }

  .action {
    font-size: 10px;
    padding: 0 10px;
    margin: 0;
    top: 0;
    left: 0;
    height: 12px;
    line-height: 3;
  }
  .cursor {
    display: none;
  }
  .spade {
    margin-left: 8px;
    font-size: 20px;
    width: 20px;
  }
  #PlayerStats {
    height: 6vh;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    bottom: -8vh;
  }
  #DealerStats {
    height: 6vh;
    border-left: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
  }
  #PlayerName {
    bottom: 28vh;
  }
  #DealerName {
    top: 10.5vh;
  }
  .colon {
    font-size: 12px;
  }
  .name {
    font-size: 14px;
  }
  .hpBar {
    left: 9vw;
    bottom: 2.85vh;
  }
  .pointTotals {
    left: 9vw;
    bottom: 2.5vh;
  }
  .handValue {
    font-size: 8px;
  }
}
